# Basic Portfolio Contruction Example

In [3]:
import datetime as dt
import yfinance as yf
import numpy as np

tickers = ['AAPL', 'MSFT', 'TWTR', 'IBM']
start = "2020-01-01"
end = "2022-01-01"

# Grab yfinance Data
df_portfolio = yf.download(tickers, start, end).reset_index()

# Adjusted Close 
data = df_portfolio["Adj Close"]

portfolio_weighting = [.25, .15, .4, .2]
np.sum(portfolio_weighting)

# How Has Portfolio Performed Over Time with 10000 Investment
data/data.iloc[0] * portfolio_weighting * 100000

[*********************100%***********************]  4 of 4 completed

             AAPL           IBM          MSFT          TWTR
0    25000.000000  15000.000000  40000.000000  20000.000000
1    24756.958388  14880.372864  39501.928241  19517.028608
2    24954.220654  14853.789286  39604.028485  19591.331354
3    24836.859954  14863.756830  39242.931554  20148.607854
4    25236.391155  14987.815947  39868.005576  20464.396296
..            ...           ...           ...           ...
500  60931.793163  16856.985282  86907.910623  27448.918191
501  60580.381043  16986.338066  86603.357541  26891.641691
502  60610.800197  17078.550045  86781.014159  26476.779772
503  60212.089591  17150.272549  86113.561638  27529.411848
504  59999.217838  17118.255150  85352.214198  26761.611295

[505 rows x 4 columns]